.modal-Add {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;  
  margin-left: 200px; 
    @media (min-width: 640px) {
    margin-left: 300px;
  }

  .modal-content {
    background-color: #101010;
    width: 900px;
    max-height: 90vh;
    border-radius: 22px;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    color: white;
  } 
}

.modal-Add-s {
  background: #C8180C;
  border-radius: 22px 22px 0 0;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 10px;

  h2 {
    font-size: 22px;
    font-weight: bold;
    color: white;
  }
}
.amenity {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.preview-image {
  margin: 10px 0;
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
}

.btn-add-photo {
  width: fit-content;
  background: #222224;
  border-radius: 5px;
  padding: 10px 16px;
  color: white;
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  .Add-icon {
    font-size: 24px;
  }
}

.form-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.input-A-field,
.input-d-field input {
  background: #222224;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 100%;
  max-width: 420px;
}

textarea.input-A-field {
  resize: none;
  width: 100%;
}

.input-d-field {
  display: flex;
  flex-direction: column;
  width: 200px;

  label {
    margin-bottom: 5px;
    font-size: 14px;
  }
}

.amenity {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
}

.save-btn,
.cancel-btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.save-btn {
  background-color: red;
  color: white; 
  border-radius: 9999px; 
}

.cancel-btn {
  background-color: gray;
  color: white; 
  border-radius: 9999px;
}
