.modalka {
    width: 922.82px;
    height: 656px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: rgb(34, 34, 36);
    border-radius: 10px;
  
    .close-icon {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 28px;
      color: white;
      cursor: pointer;
      z-index: 1001;
    }
  
    .arrow1, .arrow2 {
      width: 36.61px;
      height: 36.61px;
      color: white;
    }
  
    .inside {
      gap: 101px;
      width: 849px;
      height: 656px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      .top {
        width: 735.71px;
        height: 207.45px;
        display: flex;
  
        .top-text {
          width: 356.71px;
          display: flex;
          align-items: center;
  
          h2 {
            color: #fff;
            font-family: Manrope;
            font-size: 28.87px;
            font-weight: 600;
          }
        }
  
        .top-icon {
          width: 356.71px;
          border-radius: 4.61px;
          background: rgb(19, 19, 19);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
  
      .bottom {
        width: 737.6px;
        height: 234.09px;
  
        h3 {
          color: #fff;
          font-family: Manrope;
          font-size: 24.8px;
          font-weight: 600;
        }
  
        .blocks {
          height: 174.09px;
          display: flex;
          justify-content: space-between;
  
          .left {
            display: flex;
            flex-direction: column;
            gap: 37px;
            align-items: center;
            width: 354.23px;
  
            .top-left {
              width: 354.23px;
              height: 81.85px;
              background: rgb(19, 19, 19);
              display: flex;
              align-items: center;
              padding-left: 20px;
              color: #b3b3b3;
              border-radius: 4.61px;
              font-size: 18.44px;
            }
  
            .btn1 {
              width: 313.15px;
              height: 53.66px;
              border-radius: 47.25px;
              border: none;
              background: rgb(200, 24, 12);
              color: white;
              font-size: 18.44px;
            }
          }
  
          .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 17px;
  
            button {
              width: 275.19px;
              height: 45.65px;
              border-radius: 28.09px;
              color: white;
              background: rgb(200, 24, 12);
              font-size: 18.06px;
              font-weight: 600;
            }
  
            h2 {
              width: 306px;
              font-size: 15.25px;
              color: white;
              text-align: center;
            }
          }
        }
      }
    }
  }
  